* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: url(https://wallpapers.com/images/hd/dollar-pictures-m03jlvqdblyp88d0.jpg);
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.container {
  background: white;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.171);
}
header {
  background-color: #e9830e;
  color: white;
  padding: 20px;
  text-align: center;
}
.painel-total {
  background: rgba(255, 255, 255, 0.2);
  margin-top: 15px;
  padding: 15px;
  border-radius: 8px;
}
.formulario {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
input {
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}
.linha-inputs {
  display: flex;
  gap: 10px;
}
button {
  background-color: rgb(201, 130, 0);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.btn-delete {
  background: #e30000;
  color: #ffffff;
  width: 38px;
  height: 38px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.18s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #835e00;
}
.lista-container {
  padding: 0 20px 20px 20px;
}
.lista-container h3 {
  color: #000000;
  margin-bottom: 15px;
  font-size: 16px;
}
li {
  background: #f8fafc;
  padding: 15px;
  border-radius: 6px;
  border-left: 4px solid #e9990e;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
li span.valor {
  font-weight: bold;
  color: #dc8b00;
}
